<template lang="html">
    <div class="app-fields">
        <div class="inputs">
            <input type="text" v-model="fieldA">
            <input type="text" v-model="fieldB">
        </div>
        <div class="btn" v-for="op in operators" :key="op.name">
            <button v-if="op.isActive" @click="calculate(op)">{{ op.label }}</button>
        </div>
        <div v-if="result || result === 0" class="result">
            {{ result }}
        </div>
        <div v-if="errorMessage" class="error">
            {{ errorMessage }}
        </div>
    </div>
</template>

<script>
    import config from '@/config.js'
    export default {
        data: () => ({
            fieldA: 2,
            fieldB: 2,
            result: null,
            operators: [],
            validators: {},
            messages: {},
            errorMessage: ''
        }),
        mounted() {
            this.operators = config.operators
            this.validators = config.validators
            this.messages = config.messages
        },
        methods: {
            calculate(op) {
                let errors = []
                this.errorMessage = ''
                if (op.validate) {
                    for (let i = 0; i < op.validate.length; i++) {
                        let rule = op.validate[i];
                        if (this.validators[rule].validate(this.fieldA, this.fieldB) === false) {
                            errors.push(this.messages[rule]);
                        }
                        if (this.validators[rule].returnResult === true) {
                            this.result = op.do(this.fieldA, this.fieldB)
                        } else {
                            this.result = null
                        }
                    }
                }
                if (errors.length == 0) {
                    this.result = op.do(this.fieldA, this.fieldB)
                } else {
                    this.errorMessage = errors[0]
                }
            }
        }
    }
</script>

<style lang="css" scoped>
    .btn { display: inline-block; }
    .error { padding: 20px; color: #f00; }
</style>
