<template>
    <div id="app">
        <app-fields></app-fields>
    </div>
</template>

<script>
    import AppFields from '@/components/AppFields.vue'
    export default {
        name: 'app',
        components: { AppFields }
    }
</script>

<style>
    #app {
        font-family: Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
